# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info
dist/
build/
develop-eggs/
.eggs/
sdist/
wheels/

# Python environments
.env
venv/
env/
.venv/

# Django stuff:
*.log
local_settings.py

# IDE-specific files
.idea/
.vscode/
